// Customizations Here (Optional)
$overview-height: 76px;
$content-height: calc(100vh - calc(#{$overview-height} + .5rem));


$foreground-color: #343c3d;
$bg-color: #1f2424;
$green-color: #2ecc71;

#app {
    min-height: 100vh
}

html {
    height: 100vh;
    scrollbar-color: #4c5759 #343c3d;
    scrollbar-width: thin;
    overflow: hidden;
}

body {
    min-height: 100vh;
}